* {
  font-family: "Hepta Slab", serif;
}

body {
  background: #1c1b1b;
  border-radius: 15px;

  header {
    position: relative;

    .logo {
      position: absolute;
      width: 54px;
      height: 55px;
      left: 189px;
      top: 40px;

      font-family: "Germania One";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 37px;
      display: flex;
      align-items: center;
      letter-spacing: -0.06em;

      color: #10d118;
    }

    .logo_full {
      position: absolute;
      width: 224px;
      height: 33px;
      left: 286px;
      top: 40px;

      font-family: "Hepta Slab";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #10d118;
    }

    .just_paragraph {
      position: absolute;
      width: 219px;
      height: 16px;
      left: 287px;
      top: 90px;

      font-family: "Hepta Slab";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      display: flex;
      align-items: center;

      color: #10d118;
    }

    li {
      list-style: none;
    }

    .card_logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 60px;

      position: absolute;
      width: 234px;
      height: 43px;
      left: 1046px;
      top: 62px;
    }

    .heart_logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 10px;
      position: absolute;
      width: 234px;
      height: 43px;
      left: 1106px;
      top: 62px;
    }

    .user_logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 20px;
      position: absolute;
      width: 234px;
      height: 43px;
      left: 1166px;
      top: 62px;
    }

    .border {
      position: absolute;
      width: 100%;
      height: 0px;
      left: 0px;
      top: 166px;
      border: 1px solid rgba(0, 0, 0, 0.32);
    }
  }

  .welcome {
    position: absolute;
    left: 200px;
    top: 227px;

    img {
      width: 1120px;
      height: 500px;
      border-radius: 15px;
    }

    .image-caption {
      position: absolute;
      top: 50px;
      left: 390px;
      font-weight: 400;
      font-size: 36px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -0.06em;
      color: #10d118;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    }

    .image-caption2 {
      position: absolute;
      left: 482px;
      top: 90px;
      font-family: "Germania One";
      font-style: normal;
      font-weight: 400;
      font-size: 128px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -0.06em;
      color: #10d118;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    }
  }
}
